img {
    width: 20vw;
    margin: 1.34em;
}

body {
    background-color: #f8f8f8;
    font-family: monospace, "Courier New", Verdana, sans-serif;
}

.page-container {
    width: 80vw;
    margin: 3em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 24vw);
    grid-gap: 1em;
}

.header-container h2 {
    color: #606060;
}

app-contacts {
    margin: 1.34em;
}

@media screen and (max-width: 500px) {
    .page-container {
        width: auto;
    }

    .header-container {
        grid-template-columns: repeat(auto-fit, 35vw);
    }
    
    img {
        width: 30vw;
    }

}