img {
    width: 20vw;
    margin: 1.34em;
}

body {
    background-color: #f8f8f8;
    font-family: "Courier New", Verdana, sans-serif;
}

.page-container {
    width: 80vw;
    margin: 3em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .page-container {
        width: 90vw;
    }
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 1em;
}

.header-container h2 {
    color: #606060;
}

app-contacts {
    margin: 1.34em;
}